:root {
    --border_width: 10px;
    --tab_height: 8vh;
}

html *{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
}

.body {
    height: 100vh;
}

.tab {
    background-color: rgb(0, 0, 0);
    height: var(--tab_height);
}

.termWindow {
    position: relative;
    background-color: rgb(0, 0, 0);
    height: calc(100vh - var(--tab_height));
}

.pane {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    border: var(--border_width) solid rgb(39, 39, 39);
    background-color: rgb(0, 0, 0);
}

.selected {
    border-color: rgb(255, 255, 255);
}